<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span><a mat-icon-button routerLink="/">LoginApp</a></span>
    
    <span class="example-spacer"></span>
    <a *ngIf="!loggedIn" mat-icon-button routerLink="/login">Login</a>
    <a *ngIf="loggedIn" mat-icon-button >User</a>
    <a *ngIf="loggedIn" mat-icon-button (click)="logoutUser()" >Logout</a>
    
</mat-toolbar>